version: '3.8'

services:
  app1:
    build: .
    container_name: app1
    networks:
      - backend

  app2:
    build: .
    container_name: app2
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - app1
      - app2
    networks:
      - backend

networks:
  backend:

  locust:
    image: locustio/locust
    container_name: locust
    ports:
      - "8089:8089"
    volumes:
      - ./locust:/mnt/locust
    command: >
      -f /mnt/locust/locustfile.py
      --host http://nginx
    networks:
      - backend
